
# Your openai api key. (required)
OPENAI_API_KEY=sk-xxxx

# Access passsword, separated by comma. (optional)
CODE=ydwl123

# You can start service behind a proxy
PROXY_URL=
# http://localhost:7890
# Override openai api request base url. (optional)
# Default: https://api.openai.com
# Examples: http://your-openai-proxy.com
BASE_URL=

# Specify OpenAI organization ID.(optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
OPENAI_ORG_ID=

# (optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
HIDE_USER_API_KEY=

# (optional)
# Default: Empty
# If you do not want users to use GPT-4, set this value to 1.
DISABLE_GPT4=

# (optional)
# Default: Empty
# If you do not want users to query balance, set this value to 1.
HIDE_BALANCE_QUERY=

MJ_SERVER_ID=998196496736469023
MJ_CHANNEL_ID=1174629478320840744
MJ_USER_TOKEN=OTk4MTk1NTU4NDc0ODQyMTk1.GXDq-l.3Yx6TBPk8E2gmi_IXpLEJXgz6xk2Enm0v-Rz5g
MJ_DISCORD_PROXY=https://discord.com
MJ_DISCORD_WSS_PROXY=wss://gateway.discord.gg
MJ_DISCORD_CDN_PROXY=https://cdn.discordapp.com
